/* table{
  margin: auto 0;
  width: 40%;
} */

table > thead > tr{
  border-top: 1px solid black;
  border-bottom: 3px double black;
  background-color: rgb(117, 117, 240);
}

table > thead > tr > td{
  color: white;
  padding: 6px;
}

table > tbody > tr > td{
  padding: 6px;
}

tbody > tr:nth-child(even){
  background-color: lightblue;
}

tbody > tr:hover{
  background-color: #eeeeee;
}