

table{
  margin: auto;
  text-align: center;
}
table td{
  padding: 7px 15px;
}

.tr:hover{
  background-color: gray;
}

.tr1{
  background-color: blue;
  color: white;
  text-align: center;
  border-top: 1px solid black ;
  border-bottom: 1px solid black ;
}

.tr3, .tr5, .tr7{
  background-color: lightgray;
}

.tr{
  border-bottom: 1px solid black ;
}


table > .tr > td:nth-child(2){
  text-align: left;
}