.container{
  /* border: 1px solid black; */
  width: 100%;
}

.login-div{
  width: 100%;
  color: white;
  background-color: #AFC8AD;
}

.layout-div{
  width: 86%;
  /* border: 1px solid red; */
  margin: 0 auto;
}

.banner{
  position: relative;
}

.banner-img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
  display: block;
}

.title-div{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(0px, -50%);
  font-size: 3rem;
  letter-spacing: 7px;
}

.header-menu{
  display: flex;
  margin: auto;
  padding: 10px 0px;
  width: 80%;
  justify-content: end;
}

.header-menu > li{
  font-size: 1.2rem;
  width: 100px;
  text-align: center;
}

.header-menu span{
  cursor: pointer;
}

.header-menu > div > span{
  margin-left: 20px;
}

.menu-div{
  color: gray;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

.menu-div > .menu-ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.menu-div > .menu-ul > li{
  width: 160px;
  text-align: center;
  font-size: 1.3rem;
}

.menu-div > .menu-ul > li > span{
  cursor: pointer;
}

.menu-div > .menu-ul > li > span:hover{
  color: black;
}

/* 사이드 바 디자인 */
.side-menu-div{
  display: flex;
  margin-bottom: 30px;
}

.side-menu-ul{
  /* background-color: rgba(230, 230, 230, 0.1); */
  box-shadow: 2px 2px 4px #dddddd;
  width: 250px;
}

.side-menu-ul > li{
  padding: 20px 16px;
  border-bottom: 2px solid #003675;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.side-menu-ul > li:hover{
  background-color: #eeeeee;
}

.bi-chevron-right{
  font-size: 0.8rem;
}

/* 공통 디자인 */

/* input 태그 */

.form-control{
  width: 100%;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #AFC8AD;
}

.form-control:focus{
  outline: 2px solid #AFC8AD;
}

.form-control::placeholder{
  font-size: 0.7rem;
  text-align: center;
}

/* button 태그 */
.btn{
  padding: 5px 13px;
  font-size: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.btn-div{
  text-align: center;
  margin-top: 15px;
}


.btn-primary{
  background-color: #d6e9d5;
  border: 1px solid #d6e9d5;
}

.btn-primary:active{
  background-color: #b4c7b3;
  border: 1px solid #b4c7b3;
}

.btn-second{
  background-color: #dddddd;
  border: 1px solid #dddddd;
}

.btn-second:active{
  background-color: #cccccc;
  border: 1px solid #cccccc;
}

/* 모달 창 디자인 */
.modal-container{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: start;
  z-index: 99;
  animation: fadeOut 0.5s ease-in forwards;
}

.modal-container.show{
  animation-name: fadeIn;
}

.modal-container > .modal{
  width: 400px;
  background-color: white;
  margin-top: 8rem;
  padding: 20px;
  border-radius: 13px;
  animation: slideUp 0.7s ease-out forwards;
}

.modal-container.show > .modal{
  animation-name: slideDown;
}

.modal-header{
  text-align: right;
  margin-bottom: 10px;
}

.modal-header > span{
  cursor: pointer;
}

.modal-content{
  text-align: center;
  font-size: 1.2rem;
}

.modal-footer{
  text-align: right;
  margin-top: 20px;
}

/* modal 애니메이션 정의 */
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes slideDown {
  from{
    transform: translateY(-50px);
  }
  to{
    transform: translateY(0px);
  }
}

@keyframes slideup {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-50px);
  }
}

/* validation 디자인 */
.feedback{
  font-size: 0.7rem;
  margin-top: 4px;
  /* display: none; */
  visibility: hidden;
}

.feedback.error{
  color: red;
  visibility: visible;
}

.feedback.good{
  color: rgb(99, 197, 0);
  visibility: visible;
}