<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <resultMap id="item" type="com.green.ReactItem.vo.ItemVO" >
        <id column="ITEM_NUM" property="itemNum" />
        <result column="ITEM_NAME" property="itemName" />
        <result column="ITEM_PRICE" property="itemPrice" />
        <result column="SELLER" property="seller" />
        <result column="ITEM_INTRO" property="itemIntro" />
        <result column="REG_DATE" property="regDate" />
    </resultMap>

    <select id="getItemInfo" resultMap="item" >
        SELECT ITEM_NUM
            , ITEM_NAME
            , ITEM_PRICE
            , SELLER
        FROM ITEM_INFO;
    </select>

    <select id="getItemDetail" resultMap="item">
        SELECT ITEM_NUM
            , ITEM_NAME
            , ITEM_PRICE
            , SELLER
            , ITEM_INTRO
            , REG_DATE
        FROM ITEM_INFO
        WHERE ITEM_NUM = #{itemNum};
    </select>

    <update id="updateItem" >
        UPDATE ITEM_INFO
        SET
            ITEM_NAME = #{itemName}
            , ITEM_PRICE = #{itemPrice}
            , ITEM_INTRO = #{itemIntro}
        WHERE ITEM_NUM = #{itemNum};
    </update>

    <insert id="regItem" >
        INSERT INTO ITEM_INFO(
            ITEM_NAME
            , ITEM_PRICE
            , SELLER
            , ITEM_INTRO
        ) VALUES(
            #{itemName}
            , #{itemPrice}
            , #{seller}
            , #{itemIntro}
        );
    </insert>

</mapper>































