<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
	<resultMap id="category" type="com.green.Shop.item.vo.CategoryVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
    </resultMap>

    <resultMap id="img" type="com.green.Shop.item.vo.ImgVO">
        <id column="IMG_CODE" property="imgCode" />
        <result column="ORIGIN_FILE_NAME" property="originFileName" />
        <result column="ATTACHED_FILE_NAME" property="attachedFileName" />
        <result column="IS_MAIN" property="isMain" />
        <result column="ITEM_CODE" property="itemCode" />
    </resultMap>

    <resultMap id="item" type="com.green.Shop.item.vo.ItemVO">
        <id column="ITEM_CODE"          property="itemCode" />
        <result column="ITEM_NAME"      property="itemName" />
        <result column="ITEM_PRICE"     property="itemPrice" />
        <result column="ITEM_INTRO"     property="itemIntro" />
        <result column="ITEM_STOCK"     property="itemStock" />
        <result column="ITEM_STATUS"    property="itemStatus" />
        <result column="CATE_CODE"      property="cateCode" />
        <collection property="imgList" ofType="com.green.Shop.item.vo.ImgVO" resultMap="img" />
    </resultMap>

    <resultMap id="cart" type="com.green.Shop.item.vo.CartVO" >
        <id column="CART_CODE" property="cartCode" />
        <result column="CART_CNT" property="cartCnt" />
        <result column="ITEM_CODE" property="itemCode" />
        <result column="MEM_ID" property="memId" />
        <result column="CART_DATE" property="cartDate" />
        <collection property="itemList" ofType="com.green.Shop.item.vo.ItemVO" resultMap="item" />
        <collection property="imgList" ofType="com.green.Shop.item.vo.ImgVO" resultMap="img" />
    </resultMap>

    <!-- 상품목록 조회 -->
    <!-- 조회 시 조인, 서브쿼리가 사용되면 조회한 데이터를 자바로 가져오기 위해 -->
    <!-- 정의한 resultMap 에 association 혹은 collection 을 추가해야 함 -->
    <!-- 둘 중의 무엇을 쓸지는 테이블간의 관계가 1:1, 1:N 관계인지에 따라 결정 -->
    <!-- 테이블의 관계라는건 정답이 없다. 어떤 테이블을 기준으로 삼는지에 따라 달라짐. -->

    <!-- 상품 테이블을 기준으로 이미지 테이블과 1:n 관계이다. -->
    <!-- 이렇게 결정한 테이블의 간의 관계를 vo 에 먼저 적용시켜준다. -->
    <!-- 이 관계를 resultMap 에도 맺어줘야 한다. -->
    <select id="getItemList" resultMap="item">
        SELECT S.ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ATTACHED_FILE_NAME
            , IMG_CODE
        FROM SHOP_ITEM S, ITEM_IMG I
        WHERE S.ITEM_CODE = I.ITEM_CODE
        AND IS_MAIN = "Y"
        ORDER BY ITEM_CODE DESC;
    </select>

    <select id="getItemDetail" resultMap="item" >
        SELECT S.ITEM_CODE
            , ITEM_NAME
            , ITEM_PRICE
            , ITEM_INTRO
            , ATTACHED_FILE_NAME
            , IMG_CODE
            , IS_MAIN
        FROM SHOP_ITEM S, ITEM_IMG I
        WHERE S.ITEM_CODE = I.ITEM_CODE
        AND S.ITEM_CODE = #{itemCode};
    </select>

    <insert id="insertCart" >
        INSERT INTO SHOP_CART(
            CART_CNT
            , ITEM_CODE
            , MEM_ID
        ) VALUES(
            #{cartCnt}
            , #{itemCode}
            , #{memId}
        );
    </insert>

    <select id="getCartList" resultMap="cart" >
        SELECT CART_CODE
            , img.ATTACHED_FILE_NAME
            , ITEM_NAME
            , ITEM_PRICE
            , CART_CNT
            , CART_DATE
        FROM SHOP_ITEM S, ITEM_IMG I, SHOP_CART C
        WHERE S.ITEM_CODE = I.ITEM_CODE
        AND S.ITEM_CODE = C.ITEM_CODE
        AND MEM_ID = #{memId}
    </select>

</mapper>

