.container{
  width: 100vw;
  height: 100vh;
}

.header{
  width: 80%;
  height: 50px;
  margin: 20px auto;
  padding: 10px;
  background-color: lightblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.header > ul{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.header > ul > li{
  font-size: 20px;
}

ul span:hover{
  font-weight: bold;
  color: white;
}

li > span{
  cursor: pointer;
}
