<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/list" method="get">
    <div class="container">
      <div>
        <table>
          <tr>
            <td>글 번호</td>
            <td> [[${board.boardNum}]] </td>
            <td>작성자</td>
            <td> [[${board.writer}]] </td>
            <td>작성일</td>
            <td> [[${board.createDate}]] </td>
          </tr>
          <tr>
            <td>제목</td>
            <td> [[${board.title}]] </td>
          </tr>
          <tr>
            <td>내용</td>
            <td> [[${board.content}]] </td>
          </tr>
        </table>
      </div>
      <div>
        <input type="submit" value="뒤로가기">
        <!-- 현재 상세보기하고 있는 게시글을 삭제하고 게시글 목록 페이지로 이동 -->
        <!-- 태그안에 메서드에서는 타임리프 대괄호 사용  -->
        <input type="button" value="삭제" th:onclick="goDelete([[${board.boardNum}]])">
      </div>
    </div>
  </form>
  <script>
    //삭제하기 버튼 클릭시 실행하는 함수 생성
    function goDelete(boardNum) {
      //confirm 실행 후 확인을 클릭하면 true리턴, 취소를 클릭하면 false를 리턴
      const result = confirm('정말 삭제하시겠습니까?')
      //확인을 클릭했을 때, 삭제를 위해 자바로 이동
      if (result) {
        //location.href='/delete?boardNum='+boardNum;
        location.href=`/delete?boardNum=${boardNum}`;
      }
    }
  </script>
</body>
</html>