<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/orderInfo" method="post">
    <input type="hidden" name="chicken" th:value="${orderVO.chicken}">
    <input type="hidden" name="cnt" th:value="${orderVO.cnt}">

    <th:block th:each=" add : ${orderVO.add} ">
      <input type="hidden" name="add" th:value="${add}">
    </th:block>
    <input type="hidden" name="request" th:value="${orderVO.request}">

    <h1>배달 정보</h1>
    <p>주문자</p> 
    <input type="text" name="name">
    <p>연락처</p> 
    <input type="text" name="tel">
    <p>배달주소</p> 
    <input type="text" name="addr">
    <div>
      <input type="submit" value="주문">
    </div>
  </form>
</body>
</html>