<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/updateStu" method="post">
    <table>
      <tr>
        <td>학번</td>
        <td><input type="hidden" name="stuNum" th:value="${score.stuNum}">[[${score.stuNum}]]</td>
        <td>이름</td>
        <td><input type="text" name="stuName" th:value="${score.stuName}"></td>
      </tr>
      <tr>
        <td>국어점수</td>
        <td><input type="text" name="korScore" th:value="${score.korScore}"></td>
        <td>영어점수</td>
        <td><input type="text" name="engScore" th:value="${score.engScore}"></td>
      </tr>
      <tr>
        <td>자기소개</td>
        <td>
          <textarea name="intro">[[${score.intro}]]</textarea>
        </td>
      </tr>
    </table>
    <input type="button" value="뒤로가기" th:onclick="goBack([[${score.stuNum}]])">
    <input type="submit" value="정보수정">
  </form>
  <script>
    function goBack(stuNum) {
      location.href=`/stuDetail?stuNum=${stuNum}`
    }
  </script>
</body>
</html>